<div class="page-header">
    <h1><%= user.name %></h1>   
    <div class="btn-group btn-group-justified">
        <a class= "btn profile-btn btn-dark" href="<%=user._id  %>/edit">Edit Profile</a>
        </form>
    </div> 
</div>
<hr>
<div id="newEtchBtn">
    <h3><a href="/etches/new">Create New Etch</a></h3>
</div>
<div id="etchList">
    <h4>My Etches</h4>
    <ul>

        <% etches.forEach(function(e) { %>
            <% var path = e.result.emotion.document.emotion %>
            <% var t = Object.keys(path).reduce((a, b) => path[a] > path[b] ? a : b)%>  
            <div class="profile-box <%= t %>">
                <div>
                    <li class="hard-opacity"><a href="/etches/<%= e._id %>"><%= e.title %></a></li>
                </div>
            </div>     
        <% }) %>

    </ul>
</div
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 deep-margin">
        <div class="well">
                
                
        </div>
    </div>
</div>