

<h1 class="high-margin"><%= etch.title %></h1>
<p><%= etch.body %></p>
<h2>Sentiment:</h2>
    <p>Your etch has a <% if (Math.abs((etch.result.sentiment.document.score * 100).toFixed()) !== 0) { %>
        <%= Math.abs((etch.result.sentiment.document.score * 100).toFixed(2))  %>%
        <% } %> 
        <%= (etch.result.sentiment.document.label) %> sentiment. 
    </p>
<h2>Emotions:</h2>
<div class="graph-container">
    <div class="row align-items-end" style="height:350px">
        <div class="blue bar col-2 order-sm-1" style="height:<%= (etch.result.emotion.document.emotion.sadness * 100).toFixed(2)%>%"></div>
        <div class="yellow bar col-2 order-sm-2" style="height:<%= (etch.result.emotion.document.emotion.joy * 100).toFixed(2)%>%"></div>
        <div class="purple bar col-2 order-sm-3" style="height:<%= (etch.result.emotion.document.emotion.fear * 100).toFixed(2)%>%"></div>
        <div class="green bar col-2 order-sm-4" style="height:<%= (etch.result.emotion.document.emotion.disgust * 100).toFixed(2)%>%"></div>
        <div class="red bar col-2 order-sm-5" style="height:<%= (etch.result.emotion.document.emotion.anger * 100).toFixed(2)%>%"></div>
    </div>
    <div class="row label">
        <div class="bar col-2 order-1 order-sm-1">Sadness</div>
        <div class="bar col-2 order-2 order-sm-2">Joy</div>
        <div class="bar col-2 order-3 order-sm-3">Fear</div>
        <div class="bar col-2 order-4 order-sm-4">Disgust</div>
        <div class="bar col-2 order-5 order-sm-5">Anger</div>
    </div>
    <div class="row label">
        <div class="bar percentage col-2 order-1 order-sm-1"> <%= (etch.result.emotion.document.emotion.sadness * 100).toFixed(2)  %><span>%</span></div>
        <div class="bar percentage col-2 order-2 order-sm-2"> <%= (etch.result.emotion.document.emotion.joy * 100).toFixed(2)  %><span>%</span></div>
        <div class="bar percentage col-2 order-3 order-sm-3"><%= (etch.result.emotion.document.emotion.fear * 100).toFixed(2)  %><span>%</span></div>
        <div class="bar percentage col-2 order-4 order-sm-4"><%= (etch.result.emotion.document.emotion.disgust * 100).toFixed(2)  %><span>%</span></div>
        <div class="bar percentage col-2 order-5 order-sm-5"><%= (etch.result.emotion.document.emotion.anger * 100).toFixed(2)   %><span>%</span></div>
    </div> 
</div>


<div class="btn-group btn-group-justified deep-margin">

<a class= "btn etch-btn btn-dark" href="/etches/<%= etch._id %>/edit">Edit Etch</a>
<form method="POST" action="/etches/<%= etch._id %>?_method=DELETE">
    <button class= "btn etch-btn btn-danger" type="submit">Delete Etch</button>
</form>
</div>

