<h1><%= etch.title %></h1>
<p><%= etch.body %></p>
<h2>Emotions:</h2>
<p>Sadness: <%= (etch.result.emotion.document.emotion.sadness * 100).toFixed(2)  %>%</p>
<p>Joy: <%= (etch.result.emotion.document.emotion.joy * 100).toFixed(2)  %>%</p> 
<p>Fear: <%= (etch.result.emotion.document.emotion.fear * 100).toFixed(2)  %>%</p> 
<p>Disgust: <%= (etch.result.emotion.document.emotion.disgust * 100).toFixed(2)  %>%</p> 
<p>Anger: <%= (etch.result.emotion.document.emotion.anger * 100).toFixed(2)   %>%</p> 
<h2>Sentiment:</h2>
<p>Score: <%= (etch.result.sentiment.document.score * 100).toFixed(2)  %>%</p>
<p>Label: <%=etch.result.sentiment.document.label %> </p>

