<h1><%= etch.title %></h1>
<p><%= etch.body %></p>
<h2>Emotions:</h2>
<p>Sadness: <%= etch.result.emotion.document.emotion.sadness  %></p>
<p>Joy: <%= etch.result.emotion.document.emotion.joy  %></p> 
<p>Fear: <%= etch.result.emotion.document.emotion.fear  %></p> 
<p>Disgust: <%= etch.result.emotion.document.emotion.disgust  %></p> 
<p>Anger: <%= etch.result.emotion.document.emotion.anger  %></p> 
<h2>Sentiment:</h2>
<p>Score: <%= etch.result.sentiment.document.score %> </p>
<p>Label: <%=etch.result.sentiment.document.label %> </p>


<a class= "btn btn-primary" href="/etches/<%= etch._id %>/edit">Edit</a>


<form method="POST" action="/etches/<%= etch._id %>?_method=DELETE">
    <button type="submit">Delete</button>
</form>