<h1><%= etch.title %></h1>
<p><%= etch.body %></p>
<h2>Emotions:</h2>
    <p>Sadness: <%= (etch.result.emotion.document.emotion.sadness * 100).toFixed(2)  %>%</p>
    <p>Joy: <%= (etch.result.emotion.document.emotion.joy * 100).toFixed(2)  %>%</p> 
    <p>Fear: <%= (etch.result.emotion.document.emotion.fear * 100).toFixed(2)  %>%</p> 
    <p>Disgust: <%= (etch.result.emotion.document.emotion.disgust * 100).toFixed(2)  %>%</p> 
    <p>Anger: <%= (etch.result.emotion.document.emotion.anger * 100).toFixed(2)   %>%</p> 
<h2>Sentiment:</h2>
    <p>Score: <%= (etch.result.sentiment.document.score * 100).toFixed(2)  %>%</p>
    <p>Label: <%= (etch.result.sentiment.document.label) %> </p>

<div class="chart-container">
    <ul class="chart">
    <li class="bar blue" style="height:<%= (etch.result.emotion.document.emotion.sadness * 100).toFixed(2)  %>%;">
        <div class="percent"><%= (etch.result.emotion.document.emotion.sadness * 100).toFixed(2)  %><span>%</span></div>
        <div class="emotion">Sadness</div></li>
    <li class="bar yellow" style="height:<%= (etch.result.emotion.document.emotion.joy * 100).toFixed(2)  %>%;">
        <div class="percent"> <%= (etch.result.emotion.document.emotion.joy * 100).toFixed(2)  %><span>%</span></div>
        <div class="emotion">Joy</div></li>
    <li class="bar purple" style="height:<%= (etch.result.emotion.document.emotion.fear * 100).toFixed(2)  %>%;">
        <div class="percent"><%= (etch.result.emotion.document.emotion.fear * 100).toFixed(2)  %><span>%</span></div>
        <div class="emotion">Fear</div></li>
    <li class="bar green" style="height:<%= (etch.result.emotion.document.emotion.disgust * 100).toFixed(2)  %>%;">
        <div class="percent"><%= (etch.result.emotion.document.emotion.disgust * 100).toFixed(2)  %><span>%</span></div>
        <div class="emotion">Disgust</div></li>
    <li class="bar red" style="height:<%= (etch.result.emotion.document.emotion.anger * 100).toFixed(2)   %>%;">
        <div class="percent"><%= (etch.result.emotion.document.emotion.anger * 100).toFixed(2)   %><span>%</span></div>
        <div class="emotion">Anger</div></li>
    <li class="axis">
        <div class="label">Sadness</div>
        <div class="label">Joy</div>
        <div class="label">Fear</div>
        <div class="label">Disgust</div>
        <div class="label">Anger</div>
    </li>
    </ul>
</div>
